<style type="text/css">
.adbar{
display:flex;
flex-flow:  wrap;
align-content: flex-start
}
.adbar > div{
width: 50% ;
display: inline-flex;
margin-bottom: 5px;
}
.adbar > div label{
padding-left: 4px ;
}
.adbar > div span{
font-size: x-small;
padding-left: 4px ;
}
</style>
<div class="adsection">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- devbjad2 -->
    <ins class="adsbygoogle"
         style="display:inline-block;min-width:400px;max-width:970px;width:100%;height:90px;padding:5px;"
         data-ad-client="ca-pub-3059347231702682"
         data-ad-slot="8554071818"></ins>
    <script>
         (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
</div>
